* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.signin_bar{
height: 30px;
width:100%;
background-color: black;
 font-size: 10px;
 color: white;
}

.signin_bar img{
  float: right;
}

.sign-in{
  float: right;
  padding: 10px;
}

.sign-in a p{
  display:inline-block;
  color: white;
   font-weight: bold;
   text-decoration:none;
   font-size: 10px;
}

.sign-in p a:hover {
    color: #ec008c;
}

.title_box{
  height: 50px;
  width:100%;
  position: relative;
}

.title-space{
  height: 50%;
  width: 20%;
  position: relative;
  display: inline-block;
}

.torrid-title{
  height: 50px;
  width: 55%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  text-align: center;
}

.search_bar{
  float: right;
  width: 20%;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
}

.search_bar form{
  margin: 0 auto;
  position: absolute;
  top: 25%
}

.menu_bar{
height: 30px;
width:100%;
background-color: black;
}

header nav {
  display: block;
  text-align: center;
}
nav a:hover {
    color: #ec008c;
}
header nav a {
  display:inline-block;
  color: #ffffff;
   font-weight: bold;
   padding-top: 5px;
   padding-left: 30px;
   padding-right: 30px;
   text-decoration:none;
   font-size: 10px;
}
main{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 600px;
}

section{
  margin: 0 auto;
  text-align: center;
  width:100%;
  display: block;
}
.banner{
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  position: relative;

}

.black-button{
  width: 200px;
  height: 45px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 1em;
  /* display: inline-block; */
  z-index: 10;
  position: absolute;
  top: 250px;
  left: 330px;
  box-shadow: 2px 3px 8px #000000;
}

.black-button

.WC-features{
  width: 80%;
  height: 200px;
  text-align: center;

  position: relative;
}

.feature{
  display: inline-block;
  position: relative;
}

.feature img{
  width: 150px;
  height:200px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  margin: 0 auto;
}

.features-button{
  background-color: #ec008c;
  width: 125px;
  height: 25px;
  padding-top: 10px;
  color: white;
  z-index: 10;
  position: absolute;
  margin-top: 150px;
  margin-left: 35px;
  text-align: center;
}


.blog-post{
  color: white;
  background-color: black;
  height: 300px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  float: left;
  position: relative;
}


.blog-pic-container{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 50%;
  position: relative;
  float:left;
}

.blog-pic-container img{
  padding: 1em;
}

footer {
	width: 100%;
	height: 220px;
	background-color: black;
	text-align: center;
	float: left;
  margin: 0 auto;
  bottom: 0px;
}

.footer-nav{
  width: 100px;
  height: 175px;
  float: left;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  margin: 0 auto;
}

footer nav a{
  color: white;
  font-size: 10px;
  color: white;
  text-decoration:none;
}

footer p{
  color: white;
  font-size: 8px;
  float:none;
}


.single-product-container{
  width: 80%;
  height: 680px;
  margin: 0 auto;
}

.product-image-container{
  width: 45%;
  height: 600px;
  float: left;
  text-align: left;
}

.small-product-img{
  width: 100%;
  height: 80px;
  padding-left: 0px;
}

.small-product-img img{
  opacity: 0.5;
   cursor: pointer;
}

.small-product-img img:hover {
    opacity: 1;
  }

.related-items{
  height: 100px;
  width: 100%;
}

.related-items img{
  padding: .5em;
}

.product-information-contianer{
  width: 55%;
  height: 600px;
  float: left;
  text-align: left;
}

.stars{
  float: left;
  width: 120px;
  height: 20px;
}

.sizes{
  width: 100%;
  height: 35%;
}

.size-boxes{
  background-color: #ebebeb;
  width: 50px;
  height: 50px;
  float: left;
  margin: .2em;
  text-align: center;
  vertical-align: middle;
}

.size-boxes p{
  padding-top: 15px;
}

.product-details-and-info{
  width: 100%;
  height: 40px;
}

.qty-number{
  height: 40px;
  width: 125px;
  background-color: #ebebeb;
  float: left;
}

.qty-number p{
  padding-top: 8px;
  padding-left: 8px;
  margin: 0 auto;
}

.add-to-bag{
  height: 40px;
  width: 125px;
  background-color: #ec008c;
  color: white;
  text-align: center;
  float: left;
  margin-left: 10%;
}

.add-to-bag h5{
  padding-top: 10px;
}

.product-details{
    width: 100%;
    height: 200px;
}

.general-content-container{
  width: 820px;
  height: 680px;
  margin: 0 auto;
}

.general-category-container{
  width: 400px;
  height: 250px;
  float: left;
  padding-left: 10px;
  padding-bottom: 20px;

}

.general-category-container a:hover{
  opacity: 0.5;
}

.clothing-image-box{
  float: left;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 3px #727272;
}

.clothing-image-box img{
  width: 100%;
  height: 100%;
}

.category-name-box{
  width: 125px;
  height: 250px;
  background-color: #ec008c;
  float: left;
  color: white;
  box-shadow: 2px 2px 3px #727272;

}

.category-name-box h4{
  padding-top: 115px;
}

.shop-page-container{
  width: 80%;
  height: 800px;
  margin: 0 auto;
}

.shop-item-container{
  width: 18%;
  height: 250px;
  float: left;
  padding: .5em;
}

.shop-item-pic{
  width: 100%;
  height: 60%;
}


.shop-item-info{
  font-size: 12px;
  color: black;
}

.mission-title{
  background-color: black;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  color: white;
}

.mission-title h4{
  padding-top: 15px;
}

.mission-container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.our-mission-statement{
  width: 100%;
  height: 200px;
  background-color: #ec008c;
  color: white;
  margin: 0 auto;
}



.our-mission-statement p{
  padding: 4em;
}

.community-container{
  width: 100%;
  float: left;
}

.community-container img{
  padding: 1em;
}

.blog-post-title{
  width: 100%;
  height: 30px;
  background-color: #ec008c;
  color: white;
  margin: 0 auto;
  float: left;
}

.blog-post-title p{
  padding-top:5px;
}


.contact-container{
  width: 65%;
  margin: 0 auto;
}

.contact-column{
  width: 30%;
  text-align: left;
  font-size: 10px;
  float: left;
}
